extends layout

block content
    h1= title
    #users
        a(href="/")!= "Home"
        - each employee in users
          div.employee
            div.created_at= employee.created_at
            div.title= employee.name 
            div.name= employee.city
        a(href="/")!= "Home"
