extends layout

block content
    h1= "Results"
    #users
        a(href="/")!= "Home"
        - each employee in users
          div.employee
            div.created_at= employee.create_at
            div.title= employee.name
            div.name= employee.city
        a(href="/")!= "Home"
